<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctor_appt_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doctorapptapp">
        <activity android:name=".patient_view_doctor_info"></activity>
        <activity android:name=".doctor_edit_profile" />
        <activity android:name=".doctor_set_availability" />
        <activity android:name=".doctor_view_patient_info" />
        <activity android:name=".doctor_view_appts" />
        <activity android:name=".view_doctor_availability" />
        <activity android:name=".patient_view_appts" />
        <activity android:name=".patient_book_appt" />
        <activity android:name=".doctorHome" />
        <activity android:name=".patientHome" />
        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>